@model Bookstore.Models.Publisher
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details - publishers - @Model.Name</h2>

@using (Html.BeginForm("UpdatePost", "Publishers"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.Location)
        @Html.TextBoxFor(p => p.Location, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.NumberOfPublications)
        @Html.TextBoxFor(p => p.NumberOfPublications, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    <p>
        <button type="submit" class="btn btn-primary">Edit</button>
    </p>
}

@using (Html.BeginForm("Delete", "Publishers"))
{
    @Html.HiddenFor(m => m.Id)
    <p>
        <button type="submit" class="btn btn-primary">Delete</button>
    </p>
}